<h1>Ventana Modal</h1>
<p>
    <button class="btn btn-danger" (click)="abrir()">Abrir</button>
</p>
<ng-template #myModalConf let-modal>
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{modalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <p>Modal body text goes here.</p> -->
          <!-- Inicio de Formulario -->

          <div class="row">
            <form name="form" id="form" #formulario="ngForm" (submit)="enviar()">
                <div class="form-group">
                    <label for="nombre">Nombre: </label>
                    <input type="text" name="nombre" class="form-control" [(ngModel)] = "usuario.nombre" 
                                #nombre="ngModel" required="true">
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                        <div *ngIf="nombre.errors">
                            El campo nombre es obligatorio.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="correo">Correo: </label>
                    <input type="text" name="correo" class="form-control" [(ngModel)] = "usuario.correo" 
                                #correo="ngModel" required="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="alert alert-danger">
                        <div *ngIf="correo.errors">
                            El campo correo es obligatorio.
                        </div>
                        <div *ngIf="!correo.valid && correo.touched">
                            El correo ingresado es inválido.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono: </label>
                    <input type="text" name="telefono" class="form-control" [(ngModel)] = "usuario.telefono"
                                #telefono="ngModel" required="true">
                    <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
                        <div *ngIf="telefono.errors">
                            El campo telefono es obligatorio.
                        </div>
    
                    </div>
                </div>
                <div class="form-group">
                    <label for="direccion">Dirección: </label>
                    <input type="text" name="direccion" class="form-control" [(ngModel)] = "usuario.direccion"
                                #direccion="ngModel" required="true">
                    <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-danger">
                        <div *ngIf="direccion.errors">
                            El campo direccion es obligatorio.
                        </div>
    
                    </div>
                </div>
                <div class="form-group">
                    <label for="direccion">Pais: </label>
                    <select name="pais" class="form-control" [(ngModel)]="usuario.pais">
                        <option *ngFor="let pais of paises" value="{{pais.dominio}}">
                            {{pais.nombre}}
                        </option>
                    </select>
                </div>      
                <hr>
                <!-- <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!formulario.form.valid"> -->
            </form>
            <br>           
    
        </div>

          <!-- Fin de formulario-->
        </div>
        <div class="modal-footer">
            <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!formulario.form.valid" (click)="enviar()">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('No')">Close</button>
        </div>
      </div>
</ng-template>
