<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/material">Material</a></li>
      <li class="breadcrumb-item active" aria-current="page">Tabs </li>
    </ol>
  </nav>
  <h1>Tabs</h1>
  <mat-tab-group>
    <mat-tab>        
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>First</ng-template>
        <div class="example-large-box mat-elevation-z4">
            <div class="datos">
                <p>
                    <img src="/assets/images/portada 1.jpg" width="500" height="400" />
                </p>
                <h3>Foto en mi casa</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit conubia nisl, potenti pellentesque posuere ornare laoreet eleifend rutrum. Vivamus integer curae curabitur mollis habitant dapibus justo facilisi vehicula, taciti tristique vulputate porttitor mattis bibendum vitae. Elementum curae conubia hendrerit duis dictumst lobortis sapien mus, mollis dignissim vivamus neque fringilla vitae class laoreet cras, condimentum tincidunt natoque taciti dui cubilia risus.
                </p>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Portada 2">
        <div class="datos">
            <p>
                <img src="/assets/images/portada 2.jpg" width="500" height="400" />
            </p>
            <h3>Dunas de Concón</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit conubia nisl, potenti pellentesque posuere ornare laoreet eleifend rutrum. Vivamus integer curae curabitur mollis habitant dapibus justo facilisi vehicula, taciti tristique vulputate porttitor mattis bibendum vitae. Elementum curae conubia hendrerit duis dictumst lobortis sapien mus, mollis dignissim vivamus neque fringilla vitae class laoreet cras, condimentum tincidunt natoque taciti dui cubilia risus.
            </p>
        </div>
    </mat-tab>
    <mat-tab label="Portada 3">
        <div class="datos">
            <p>
                <img src="/assets/images/portada 3.jpg" width="500" height="400" />
            </p>
            <h3>Fotografía en Concón</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit conubia nisl, potenti pellentesque posuere ornare laoreet eleifend rutrum. Vivamus integer curae curabitur mollis habitant dapibus justo facilisi vehicula, taciti tristique vulputate porttitor mattis bibendum vitae. Elementum curae conubia hendrerit duis dictumst lobortis sapien mus, mollis dignissim vivamus neque fringilla vitae class laoreet cras, condimentum tincidunt natoque taciti dui cubilia risus.
            </p>
        </div>
    </mat-tab>
    <mat-tab label="Portada 4">
        <div class="datos">
            <p>
                <img src="/assets/images/portada 4.png" width="500" height="400" />
            </p>
            <h3>portada Facebook</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit conubia nisl, potenti pellentesque posuere ornare laoreet eleifend rutrum. Vivamus integer curae curabitur mollis habitant dapibus justo facilisi vehicula, taciti tristique vulputate porttitor mattis bibendum vitae. Elementum curae conubia hendrerit duis dictumst lobortis sapien mus, mollis dignissim vivamus neque fringilla vitae class laoreet cras, condimentum tincidunt natoque taciti dui cubilia risus.
            </p>
        </div>
    </mat-tab>
  </mat-tab-group>