<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/material">Material</a></li>
      <li class="breadcrumb-item active" aria-current="page">panel Expansión </li>
    </ol>
  </nav>
  <h3>Ejemplo Panel Expansion</h3>
  <div style="width: 70%; margin: 0 auto;">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Angular Udemy</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        Molestie vehicula imperdiet habitant metus cubilia platea sollicitudin sodales, ridiculus porta vulputate commodo urna eros ante pretium, curabitur maecenas nibh euismod hendrerit aptent elementum. Cursus aliquet mi sagittis fringilla tortor tincidunt posuere justo phasellus ante, venenatis commodo ornare leo ultrices magnis nunc velit nam, mus vestibulum turpis cras est fusce etiam integer elementum. Magnis mollis vitae suscipit in nisi posuere purus mus vivamus risus, iaculis commodo faucibus phasellus ante convallis cum mattis aliquam neque, ridiculus cubilia pharetra rutrum rhoncus platea at arcu pretium.
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Type Script Udemy</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        Molestie vehicula imperdiet habitant metus cubilia platea sollicitudin sodales, ridiculus porta vulputate commodo urna eros ante pretium, curabitur maecenas nibh euismod hendrerit aptent elementum. Cursus aliquet mi sagittis fringilla tortor tincidunt posuere justo phasellus ante, venenatis commodo ornare leo ultrices magnis nunc velit nam, mus vestibulum turpis cras est fusce etiam integer elementum. Magnis mollis vitae suscipit in nisi posuere purus mus vivamus risus, iaculis commodo faucibus phasellus ante convallis cum mattis aliquam neque, ridiculus cubilia pharetra rutrum rhoncus platea at arcu pretium.
    </mat-expansion-panel>
  </div>
